MONGODB_URI='mongodb+srv://ADMIN:olga213@cluster0.tlaz2.mongodb.net/myFirstDatabase?retryWrites=true&w=majority'

MONGODB_URL='mongodb://localhost:27017/procura-psi'

SECRET_ADM=NQSPpZbCxMcNYCMvGnOnXo0+iz4DuH5uSfz9FF5D/YuE44d9PPKocqYPWB3oKNt6Jks5A32v+QJBANQBRcC+pjcsjnsqRhbOik89rdSD4V1ngxMkf29ummR5s4kWNL6oDkcT62aEhnzUMLfMTtq8wNC+nBWkoUOESAECQAi/7298N5fHQYpiCLa9Mc/SoJuv2HiMQ5bbiLAjgGp4Q9wBdOFPCgxKN5OMK1ug4mGqCcxPHNRmLX/CuX17QqkCQBYd7930xbhZ0J9uwJMehvVPVPQnsfohk14K37SLUFYNEDrL80K0m5C0tkkiqDkbld2G1e8h4+ejCvuDCkPV6AECQFy29Fu8a5zZBe+7yunYP3KhSMycRTk6Rv0byVtOZfERsIIV+zrn4yiFFU6HqWldf3a1sMAw79X++lBMW32b5z8=

SECRET_USER=MIICWgIBAAKBgHdVSdb7CGZBwoatUWEAXvgpegs07camFXwLCh2MD/Vzy2bZYplVMP/tptIDgE6mw8sfeRCuDO8AyrGNNBlpHcFaYz1y1FhaD+uMw/NJimTvuzqvNh7mNeb4AqzfpdfIqrF1lpLZAmk6eDx/IeBkP0fLQvT2rKd09T5FUdi/O0RxAgMBAAECgYBpI0a8V05OMc/+soNJkHcb9AcoCokYBUpWkK9n2vhQjKX/xrWdXLagNjVNQXJxWXKV6vPSY1bX2H29Myhc3wUsGNPKwZr4RahR0fb1+E/NpffMNMlYVyTmHss5oZRIe7NNKhE/z5TbVLqzElL+Sd3/mSPRFKdrayEVKoWvRlzEZQJBAMOVtfjhCoHYDqIPBab64M85SfTwnStEdjbYB3t4SSQZOCImjCWWm+6yqefaTseZNlBibHn9Mjd0GLytrP0uS3sCQQCcMdCAEwyUUKz3XZmgSGI994FPEt2fhTKUSKe4RlKtuFtslUX4DfhEp90vnhMGTenCQq/8/uhY3u3XOjReKoYDAkBpny/md6F0/Xjpi7NBubouLoICBO7brt0oQQHJa+wT0oq95pNIuUz8Wv/mdb6Vi+gJAR4TwuibidbSDfidwaKBAkABdzo0qXkZvzQQUjGJ3oQFftgYzN2FjLNvzsq8IPTPqoY5G6F/dWoaAtVBiCM3kO2bpBKQtjep9dWXinVJWO7PAkA0Pql2Xm/2TkCmCdXD6ytxkoCCVNSnufG5oGELeKYwD3qForaZjbg3PoEmPqbRtQD2u8vsFeFxgBBBlditB1+b