MONGODB_URL='mongodb://localhost:27017/procura-psi'

SECRET_ADM=MIICXAIBAAKBgHuAmdvUpMlkD3WrL3ZPUS2AzKL0X8GcafLHHcnqo7k7wziFaGUTm0xM/cKgsPsSvAayFAxgMuM+PFehGVD6m6n3+NjQUozmJKrH2AAnt60We1Bo3UHMiVH+cTQIF6hrCKoSq29MqgfGp40Z4ji+aQozKEvgoRdg1v1tpP+gQbKFAgMBAAECgYAD/FN6z7L9uNfy4TJn7AlfoY95Fs/cTLLyndBtSsA74xzavxtuX6KcZMOvu0Xa5HDi+m5BM/2Qbdq+rTlG7r+FQdiQqBxapMZ7MELc0SrZFIhj47xeFxViRD4qu1CY4QCdTzdqSioV8NyR180VHW6DmgimGCAJiEFnltYHfOkFZQJBAOaXZBzvZlftAX0FVcHra2JUcZyKbdhqJkqdyFsV+VbRTgSeCjIMkd9e69gpbeNid5xaYs1BuROzIl85ARR+QAsCQQCJHGbw/taIRXbZheqqltkUM2hI18BKXbTD3yoify3bRIPlx35UyjuRhoRnftMGKS+iB9+Kdc1he4HxDiYiJ6GvAkEAyxLAhAsBYqXDDctI/wLJC0u60lXG7zRsjIHwFOeBMsgZoU9dQz52qPT7Vt8Fe58YH4YqRQGAcKzttFaLcPTOiQJAIZuUn/3XGA/u0eLBYo8XJpxzM2eu+ot9g4VwDoSd+OESc4AytxXbBBC046lykFAIHO9RG99EOGDNuQh+0GBmgQJBAN2p1RRshkrfVuH1YKY+imagnwQNV+IHwGwq1US9sGgfyNEBCekmzYpQSn6xKcwk3W97cQL0+4nr37nV/jO4OzU=

SECRET_USER=MIICXQIBAAKBgQCeRN4DV19Rvb1vwGSk29eeAZu6g19cQhkoxB+H4z8yctW7/944W2u/lSKr2T74Ra90fTy09JRE/o3ztxVgHsB69JMz+g6Gdp8F5xzRK9n3s4JeQ3PV6C8IXgLPlDXq6QQVRGFrsKKaf66cxk/Sy7S87Y92AaviqLZf2WXb+FzEAwIDAQABAoGAMinZxG1ZBOuCs3zjaW1UtfwEg+VHwFIi70zaQZPBYBgNrny2zl4LlLmMN7Ovxbkwl1dqemBa7lNQYsLQv5p/nvj9kqYSW/ZmwZ7UEtbjAHERmS34dGBTjO750Ac/8icpf9X0Ju5ewYEs7/TMbvuaBktvt/E0t8jvaMgf0yZlueECQQDbOwINvSzj70H1q3CjeiqQXFq1rxhxF7F9J5jKNAdT4JdOdo6LZXkQJm15RNUrA1JWQtd1ggm5Q5iJ3YXlaL1VAkEAuNBix+yPvb0f6Xwzr2UVmmwi0EANdv5Uh74XeOn2bNFgF+IgmiaadgJUQJ2BJuqtH8c6nF/EKS9q4mGY/f279wJBAMWfzdwguoTGu4kAgMt9Zz03Y7YAH2JjX2ZY+YzdlfVwsjTS/vB+CsIaQfldqWPa3LBSFPQiwy002B7/iKIi5vkCQGWk1m82P+gOuBpl4Nc6NSN1DcCTOdSUFFGDzs0FgC5hCQSZrWyahqEYrtXKyllpAEZWAHo4gV5VYeeX3djzUAkCQQC2C4h5Nm+oN3c2hYjbSFYmFNS0CIvACYcE78Rn8NclNo/pDdJw+0nqZ9CbqNbd0OvCWUvsPQHGZaMAj3MiyqfT